BotService/Bot.Console/bin/
BotService/Bot.Console/obj/
BotService/Bot.Model/bin/
BotService/Bot.Model/obj/
BotService/Bot.Services/bin/
BotService/Bot.Services/obj/

BotService/Bot.Tests/bin/
BotService/Bot.Tests/obj/

BotService/ClassroomBot/.vs/
TeamsApp/classroombot-teamsapp/.vscode/
BotService/.vs/
tls.crt
tls.key
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vscode/launch.json
/BotService/Bot.Console/.env
/deploy/cluster-issuer.yaml
/TeamsApp/classroombot-teamsapp/temp
