################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RickrollBot/build/certs-dev.bat
/RickrollBot/ngrok-bot-tunnels.yaml
/EchoBot/.vs/EchoBot1
/EchoBot/EchoBot/bin/Debug/netcoreapp3.1
/EchoBot/EchoBot/obj
/EchoBot/.vs/EchoBot/v17
/EchoBot/EchoBot/bin/Debug/net6.0
/EchoBot/.vs/EchoBot/config
/EchoBot/CommonUtils/bin/Debug/net6.0
/EchoBot/CommonUtils/obj
/EchoBot/.vs/EchoBot/DesignTimeBuild
/EchoBot/EchoBot/appsettings.Development.json
/EchoBot/src/.vs
/EchoBot/src/CommonUtils/obj
/EchoBot/src/EchoBot/bin/Debug
/EchoBot/src/EchoBot/obj
/EchoBot/src/CommonUtils/bin/Debug/net6.0
/EchoBot/src/EchoBot/appsettings.Development.json
/EchoBot/Teams App/manifest.json
/EchoBot/src/CommonUtils/bin/Debug/net8.0
