################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RickrollBot/build/certs-dev.bat
/RickrollBot/ngrok-bot-tunnels.yaml
